<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Active tickets</title>
    <style>
        .button {
            background-color: #1c87c9;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Active tickets</h1>
    {% block content %}
        <h1>{% block title %} Tickets {% endblock %}</h1>
        {% for post in posts %}
        <div class="'Tickets'>
            <h1>{{ tickets['TicketID'] }}</h1>
            <h2>{{ tickets['Description'] }}</h2>
            <p>{{ tickets['ClientBackup'] }}</p>
            <p>{{ tickets['Priortiy'] }}</p>
            <p>{{ tickets['Status'] }}</p>
        </div>
        {% endfor %}
    {% endblock %}
    <a href="dashboard" class="button">Back to Escalations Portal</a>
</body>
</html>