<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Active tickets</title>
    <style>
        .button {
            background-color: #1c87c9;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Active tickets</h1>
     <table>         
        <thead>            
            <td>ID</td>            
            <td>Description</td>
            <td>Product Name</td>
            <td>Team ID</td>
            <td>Client Backup Location</td>            
            <td>Priortiy</td>
            <td>Status</td>
            <td>Date Raised</td>
            <td>Date Resolved</td>
        </thead>         
        {% for ticket in tickets %}
            <tr>
                <td>{{ticket["TicketID"]}}</td>
                <td>{{ticket["Description"]}}</td>
                <td>{{ticket["ProductName"]}}</td>
                <td>{{ticket["TeamID"]}}</td>
                <td>{{ticket["ClientBackup"]}}</td>
                <td>{{ticket["Priortiy"]}}</td>
                <td>{{ticket["Status"]}}</td>
                <td>{{ticket["DateRaised"]}}</td>
                <td>{{ticket["DateResolved"]}}</td>
            </tr>
             {% endfor %}
     </table>

    <a href="dashboard" class="button">Back to Escalations Portal</a>
</body>
</html>