<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Dashboard </title>
    <style>

    </style>
</head>
{% block content%}
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <br />
    <h1>Escalations Portal</h1>
    <a href="activetickets" class="btn btn-primary btn-lg">View in progress tickets</a>
    <br />
    <br />
    <a href="completedtickets" class="btn btn-primary btn-lg">View closed tickets</a>
    <br />
    <br />
    <a href="newticket" class="btn btn-primary btn-lg">Raise a new ticket</a>
    <br />
    <br />
    <a href="users" class="btn btn-primary btn-lg">View Users</a>
    <br />
    <br />
    <a href="newuser" class="btn btn-primary btn-lg">Add User</a>
    <br />
    <br />
    <a href="logout" class="btn btn-danger btn-lg">Log Out</a>
</body>
{% endblock %}
</html>