<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Dashboard </title>
    <style>
        .button {
            background-color: #1c87c9;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Escalations Portal</h1>
    <a href="activetickets" class="button">View in progress tickets</a>
    <a href="completedtickets" class="button">View closed tickets</a>
    <a href="newticket" class="button">Raise a new ticket</a>
</body>
</html>