<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <style>
        .button {
            background-color: #1c87c9;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <form>
        <h1>Sign in:</h1>
        <div class="content">
            <div class="input-field">
                <input type="email" placeholder="Email" />
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" />
            </div>
        </div>
        <a href="dashboard" class="button">Sign in</a>
    </form>
</body>
</html>