<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Unauthorised Access</title>
    <style>

    </style>
</head>

{% block content%}
<body>
    <h1>Unauthorised Access</h1>
    <p>Sorry - you do not have the relevant authorisation access to view this page. Please contact your system administrators if this is incorrect</p>
    <a href="dashboard" class="btn btn-primary btn-lg">Back to Escalations Portal</a>
</body>
{% endblock %}
</html>